{% extends "channels/channel_base.html" %}

{% block recaps-selected %}active{% endblock %}

{% block title %}Improvote: {{channel.display_name}}'s{% if show %} {{ show.created|date:"D d M Y" }}{% endif %} Show Recap{% endblock %}

{% block content %}
	<div id="container-fluid" class="container-fluid"></div>
    <script type="text/babel" src="{{JS_URL}}react_components.js"></script>

    <input type="hidden" id="rootType" name="rootType" value="recap" readonly>
    <input type="hidden" id="channelID" name="channelID" value="{{channel.id}}" readonly>
    <input type="hidden" id="channelName" name="channelName" value="{{channel.name}}" readonly>
    <input type="hidden" id="imageBaseUrl" name="imageBaseUrl" value="{{IMAGE_URL}}" readonly>
    <input type="hidden" id="showListAPIUrl" name="showListAPIUrl"
               value="{% url "show-list" %}?order_by_date=True" readonly>
    <input type="hidden" id="voteOptionAPIUrl" name="voteOptionAPIUrl"
               value="{% url "vote-option-list" %}" readonly>
    <input type="hidden" id="playerAPIUrl" name="playerAPIUrl"
           value="{% url "player-list" %}" readonly>
    <input type="hidden" id="channelRecapsUrl" name="channelRecapsUrl"
                   value="{% url "channel_recaps" channel.name %}" readonly>
    {% if show %}
        <input type="hidden" id="currentSelection" name="currentSelection" value="{{show.created|date:"l N jS, Y"}}" readonly>
        <input type="hidden" id="channelShowLeaderboardUrl" name="channelShowLeaderboardUrl"
               value="{% url "channel_show_leaderboards" channel.name show.id %}" readonly>
        <input type="hidden" id="showRecapAPIUrl" name="showRecapAPIUrl"
               value="{% url "recap-detail" show.id %}" readonly>
        <input type="hidden" id="usersUrl" name="usersUrl"
               value="/users/" readonly>
        <input type="hidden" id="showAPIUrl" name="showAPIUrl"
               value="{% url "show-detail" show.id %}" readonly>
        <input type="hidden" id="showID" name="showID" value="{{show.id}}" readonly>
    {% else %}
        <input type="hidden" id="currentSelection" name="currentSelection" value="Select a Show" readonly>
    {% endif %}
{% endblock %}

{% block add_react %}
    {% include "embedded_utils/react_src.html" %}
{% endblock %}