{% extends "base.html" %}

{% block home-selected %}class="active"{% endblock %}

{% block title %}App Interactive Improv{% endblock %}

{% block add_head %}
    <link rel="stylesheet" type="text/css" href="{{CSS_URL}}animate-3.1.0/animate.min.css">
{% endblock %}

{% block content %}
    <!-- Header -->
    <header>
        <div class="container animated fadeInDown">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src="{{IMAGE_URL}}dumpedit-logo-medium-circle.png" alt="Dumpedit Logo">
                    <div class="intro-text">
                        <span class="name text-shadow">App Interactive Improv</span>
                        <hr class="star-light text-shadow">
                        <span class="skills text-shadow">Live Audience Voting - Crowdsourced Audience Suggestions - Audience Capturing</span>
                        <div class="row">&nbsp;</div>
                        <span class="skills text-shadow">No App Install Required - Works in Your Mobile Browser</span>
                        <div class="row">&nbsp;</div>
                        <div class="row text-shadow">
                            <div class="col-lg-8 col-lg-offset-2 text-center">
                                <a href="{% url "channel_create" %}" class="btn btn-lg btn-danger btn-shadow">
                                    <span style="font-size:x-large;">Create a Show Channel for Free</span>
                                </a>
                                &nbsp;
                                <a href="{% url "channel_browse" %}" class="btn btn-lg btn-info btn-shadow">
                                    <span style="font-size:x-large;">Browse Show Channels</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Features Grid Section -->
    <section id="features">
        <div class="container animated fadeInDown">
            <div class="row">
                <div class="col-lg-12 text-center text-colorless-shadow">
                    <h2>Features</h2>
                    <br />
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-1">
                    <div class="row">
                        <div class="col-lg-12 text-center text-colorless-shadow">
                            <h2 class="text-info">Free</h2>
                            <div class='row'><hr class="underline" /></div>
                        </div>
                    </div>
                    <div class="row feature-list">
                        <ul>
                            <li>Create Free <strong>Show Channels</strong></li>
                            <hr/>
                            <li><strong>Audience Suggestions</strong> can be entered and upvoted before the show</li>
                            <hr/>
                            <li><strong>Live Voting</strong> for suggestions by audience members during the show (crowdsourcing)</li>
                            <hr/>
                            <li>Create cast <strong>Players</strong> with uploaded photos</li>
                            <hr/>
                            <li>Create <strong>Suggestion Pools</strong> for audience members to submit their suggestions to (Character Titles, Locations, Objects, anything!)</li>
                            <hr/>
                            <li>Create <strong>Vote Types</strong> that allow audience members to vote for players or suggestions in several different ways during the show</li>
                            <hr/>
                            <li><strong>Show Recaps</strong> are available for viewing suggestions or cast players that were voted for in each show</li>
                            <hr/>
                            <li><strong>Pre-show Instructions</strong> that tell your users how to interact with the show.</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-lg-offset-2">
                    <div class="row">
                        <div class="col-lg-12 text-center text-colorless-shadow">
                            <h2 style="color:#F5D002;"><img src="{{IMAGE_URL}}star-sprite.png" /> Premium <img src="{{IMAGE_URL}}star-sprite.png" /></h2>
                            <div class='row'><hr class="underline" /></div>
                        </div>
                    </div>
                    <div class="row feature-list">
                        <ul>
                            <li><strong>Facebook</strong> or <strong>Google</strong> log in for audience members</li>
                            <hr/>
                            <li><strong>User E-mails</strong> are collected and available for export when audience members login with their social media accounts and can be used for promoting / marketing</li>
                            <hr/>
                            <li><strong>Leaderboards</strong> track logged in audience members that receive votes for their suggestions</li>
                            <hr/>
                            <li><strong>Custom Leaderboard Spans</strong> allow you to set a beginning and end date span for custom leaderboards</li>
                            <hr/>
                            <li><strong>User Medals</strong> are awarded to audience members that achieve specific goals in the show</li>
                            <hr/>
                            <li><strong>User History</strong> pages track the suggestion history and achievements of logged in audience members</li>
                            <hr/>
                            <li><strong>Customizeable Colors</strong> of the pages in your show channel</li>
                            <hr/>
                            <li><strong>Like Your Page on Facebook</strong> buttons on your show channel's homepage and voting page</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- About Section -->
    <section class="success" id="about">
        <div class="container animated fadeInDown">
            <div class="row">
                <div class="col-lg-12 text-center text-shadow">
                    <h2>About</h2>
                    <br />
                    <hr class="star-light">
                </div>
            </div>
            <div class="row text-shadow">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Dumpedit is a free to use improv voting app. It's designed to allow audiences to be more engaged in your improv shows.</p>
                </div>
                <div class="col-lg-4">
                    <p>Whether you're doing a long-form or short-form show, Dumpedit gets your audience involved and participating in the action!</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#page-top" class="btn btn-lg btn-danger btn-shadow">
                         <span style="font-size:x-large;color:white;">Get Started!</span>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll visible-xs visible-sm">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>

{% endblock %}
