{% extends "home/base_home.html" %}

{% block home-selected %}class="active"{% endblock %}

{% block title %}Home{% endblock %}

{% block content %}
    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src="{{IMAGE_URL}}dumpedit-logo-medium-circle.png" alt="Dumpedit Logo">
                    <div class="intro-text">
                        <span class="name text-shadow">Phone Interactive Shows</span>
                        <hr class="star-light text-shadow">
                        <span class="skills text-shadow">Suggestion Submission - Live Vote - Audience Engagement</span>
                        <div class="row">&nbsp;</div>
                        <div class="row text-shadow">
                            <div class="col-lg-8 col-lg-offset-2 text-center">
                                <a href="#" class="btn btn-lg btn-danger btn-shadow">
                                    <span style="font-size:x-large;">Create a Show Channel</span>
                                </a>&nbsp;
                                <a href="#" class="btn btn-lg btn-info btn-shadow">
                                    <span style="font-size:x-large;">Find a Show Channel</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Features Grid Section -->
    <section id="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center text-colorless-shadow">
                    <h2>Features</h2>
                    <br />
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-1">
                    <div class="row">
                        <div class="col-lg-12 text-center text-colorless-shadow">
                            <h2 class="text-info">Free</h2>
                            <div class='row'><hr class="underline" /></div>
                        </div>
                    </div>
                    <div class="row feature-list">
                        <ul>
                            <li>Create <strong>Show Channels</strong></li>
                            <hr/>
                            <li><strong>Audience Suggestions</strong> can be entered and upvoted before the show</li>
                            <hr/>
                            <li><strong>Live Voting</strong> for suggestions by audience members during the show</li>
                            <hr/>
                            <li>Create cast <strong>Players</strong> with uploaded photos</li>
                            <hr/>
                            <li>Create <strong>Suggestion Pools</strong> for audience members to submit their suggestions to (Character Titles, Locations, Objects, etc.)</li>
                            <hr/>
                            <li>Create <strong>Voting Types</strong> that allow audience members to vote for players or suggestions during the show</li>
                            <hr/>
                            <li><strong>Show Recaps</strong> are available for viewing suggestions or cast players that were voted for in each show</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-lg-offset-2">
                    <div class="row">
                        <div class="col-lg-12 text-center text-colorless-shadow">
                            <h2 style="color:#F5D002;"><img src="{{IMAGE_URL}}star-sprite.png" /> Premium <img src="{{IMAGE_URL}}star-sprite.png" /></h2>
                            <div class='row'><hr class="underline" /></div>
                        </div>
                    </div>
                    <div class="row feature-list">
                        <ul>
                            <li><strong>Facebook</strong> or <strong>Google</strong> log in for audience members</li>
                            <hr/>
                            <li><strong>User E-mails</strong> are collected and available for export when audience members login with their social media accounts and can be used for promoting / marketing</li>
                            <hr/>
                            <li><strong>Leaderboards</strong> track logged in audience members that receive votes for their suggestions</li>
                            <hr/>
                            <li><strong>User Medals</strong> are awarded to audience members that meet specific goals in the show</li>
                            <hr/>
                            <li><strong>User History</strong> pages track the suggestion history and achievements of logged in audience members</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center text-shadow">
                    <h2>About</h2>
                    <br />
                    <hr class="star-light">
                </div>
            </div>
            <div class="row text-shadow">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Dumpedit is a free to use improv voting app. It's designed to allow audiences to be more engaged in your improv shows.</p>
                </div>
                <div class="col-lg-4">
                    <p>Whether you're doing a long-form or short-form show, Dumpedit gets your audience involved and participating in the action!</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#page-top" class="btn btn-lg btn-danger btn-shadow">
                         <span style="font-size:x-large;color:white;">Start Improvoting!</span>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer class="text-center">
        <div class="footer-above text-shadow">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-4">
                        <h3>Location</h3>
                        <p>Denver, Colorado</p>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3><a href="http://www.facebook.com/dumpedit">Like Us on Facebook</a></h3>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>About Dumpedit</h3>
                        <p>Dumpedit is a free to use improv voting service.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-below text-shadow">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Freddy Fredericks, Dumpedit 2016
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll visible-xs visible-sm">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>

{% endblock %}
