{% extends "djstripe/base.html" %}

{% block title %}Oops!{% endblock title %}

{% block content %}
{{ block.super }}
<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-primary highlight-shadow">
            <div class="panel-heading xx-large-font text-shadow">
                Oops!
            </div>
            <div class="panel-body">
                If you have reached this page and need assistance <script type="text/javascript">
	document.write("<n uers=\"znvygb:serqql@qhzcrqvg.pbz\" ery=\"absbyybj\">Rznvy Zr</n>".replace(/[a-zA-Z]/g,
	function(c){return String.fromCharCode((c<="Z"?90:122)>=(c=c.charCodeAt(0)+13)?c:c-26);}));
</script>
            </div>
        </div>
    </div>
</div>
{% endblock %}