{% extends "channels/channel_base.html" %}

{% block live-vote-selected %}class="active"{% endblock %}

{% block title %}{{channel.display_name}}'s Live Voting Page{% endblock %}

{% block add_head %}
    <link rel="stylesheet" type="text/css" href="{{CSS_URL}}animate-3.1.0/animate.min.css">
    {% if channel.facebook_pixel %}
        <script>
            (function() {
              var _fbq = window._fbq || (window._fbq = []);
              if (!_fbq.loaded) {
                var fbds = document.createElement('script');
                fbds.async = true;
                fbds.src = '//connect.facebook.net/en_US/fbds.js';
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(fbds, s);
                _fbq.loaded = true;
              }
              _fbq.push(['addPixelId', '{{channel.facebook_pixel}}']);
            })();
            window._fbq = window._fbq || [];
            window._fbq.push(['track', 'PixelInitialized', {}]);
        </script>
        <noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?id={{channel.facebook_pixel}}&amp;ev=PixelInitialized" /></noscript>
    {% endif %}
{% endblock %}

{% block content %}
    {% if show_id == current_show.id %}
        <div class="container-fluid">
            {% if option_number %}
                <div class="row">
                    <div class="col-md-offset-4 col-md-4">
                        <div class="alert alert-danger text-center btn-shadow animated bounceInDown" role="alert" id="success-alert">
                            <div class="large-font text-shadow">You voted for <strong>#{{option_number}}</strong></div>
                            <div>(You cannot change your vote)</div>
                        </div>
                    </div>
                </div>
            {% endif %}
            <div class="text-center text-shadow x-large-font animated bounceInDown">Live Voting Page</div>
            {% for option in vote_options %}
                <div class="row">
                    <div class="col-md-offset-4 col-md-4">
                        <form action="{% url "show_live_vote" channel.name show_id %}" method="post">
                            <input type="hidden" name="option_number" value="{{option}}" />
                            {% csrf_token %}
                            <input type="submit" class="btn btn-primary btn-block x-large-font btn-shadow text-shadow animated {% if forloop.counter|divisibleby:2 %}slideInRight{% else %}slideInLeft{% endif %}" value="{{forloop.counter}}"/>
                        </form>
                    </div>
                </div>
                {% if forloop.counter == 4 and channel.facebook_page  %}
                    <div class="row">
                        <div class="col-md-4 col-md-offset-4">
                            <p class="text-right">
                                <div class="text-shadow pull-left large-font">Like us on Facebook&nbsp;</div>
                                <div id="fbiframe" class="fb-like" data-href="{{channel.facebook_page}}" data-layout="button_count" data-action="like"></div>
                            </p>
                            <br />
                        </div>
                    </div>
                {% elif vote_options|length < 4 and vote_options|length == forloop.counter %}
                    <div class="row">
                        <div class="col-md-4 col-md-offset-4">
                            <p class="text-right">
                                <div class="text-shadow pull-left large-font">Like us on Facebook&nbsp;</div>
                                <div id="fbiframe" class="fb-like" data-href="{{channel.facebook_page}}" data-layout="button_count" data-action="like"></div>
                            </p>
                            <br />
                        </div>
                    </div>
                {% endif %}

            {% endfor %}
        </div>
    {% else %}
        <div id="container-fluid" class="container-fluid xx-large-font">This Show has ended.</div>
    {% endif %}
{% endblock %}

{% block extra_scripts %}
    <script>
        $("#success-alert").fadeTo(4000, 500).slideUp(500, function(){
            $("#success-alert").alert('close');
        });
    </script>
{% endblock %}