{% extends "channels/channel_base.html" %}

{% block live-vote-selected %}class="active"{% endblock %}

{% block title %}{{channel.display_name}}'s Live Voting Page{% endblock %}

{% block add_head %}
    <link rel="stylesheet" type="text/css" href="{{CSS_URL}}animate-3.1.0/animate.min.css">
    {% if channel.facebook_pixel %}
        <script>
            (function() {
              var _fbq = window._fbq || (window._fbq = []);
              if (!_fbq.loaded) {
                var fbds = document.createElement('script');
                fbds.async = true;
                fbds.src = '//connect.facebook.net/en_US/fbds.js';
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(fbds, s);
                _fbq.loaded = true;
              }
              _fbq.push(['addPixelId', '{{channel.facebook_pixel}}']);
            })();
            window._fbq = window._fbq || [];
            window._fbq.push(['track', 'PixelInitialized', {}]);
        </script>
        <noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?id={{channel.facebook_pixel}}&amp;ev=PixelInitialized" /></noscript>
    {% endif %}
{% endblock %}

{% block content %}
    {% if show_id == current_show.id %}
        <div class="container-fluid">
            {% if option_value and show_option_values %}
                <div class="row">
                    <div class="col-md-offset-4 col-md-4">
                        <div class="alert alert-danger text-center btn-shadow animated bounceInDown" role="alert" id="success-alert">
                            <div class="x-large-font text-shadow">You voted for <strong>{{option_value}}</strong></div>
                            <div class="x-large-font">(You cannot change your vote)</div>
                        </div>
                    </div>
                </div>
            {% endif %}
            <div class="text-center text-shadow xx-large-font animated bounceInDown">Live Voting Page</div>
            {% if not request.user.is_authenticated %}
                <div class="row bg-default">
                    <div class="col-xs-12">
                        <h4 class="text-center"><span class="label label-success animated fadeInDown">Login to get on the Leaderboard</span></h4>
                    </div>
                    <div class="col-xs-6">
                        <a class='btn btn-block btn-lg x-large-font btn-shadow' href="{% url "social:begin" "facebook" %}?next={{request.path}}" style="background-color:#2952a3">
                            <i class="fa fa-facebook-official fa-lg"></i> <span class='hidden-xs text-shadow'>Facebook </span><span class='text-shadow'>Facebook</span>
                        </a>
                    </div>
                    <div class="col-xs-6">
                        <a class='btn btn-block btn-danger btn-lg x-large-font btn-shadow' href="{% url "social:begin" "google-oauth2" %}?next={{request.path}}">
                            <i class="fa fa-google-plus-square fa-lg"></i> <span class='hidden-xs text-shadow'>Google </span><span class='text-shadow'>Google</span>
                        </a>
                    </div>
                </div>
                <hr class="thick">
            {% endif %}
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <p class="text-right">
                        <div class="text-shadow pull-left large-font">Like us on Facebook&nbsp;</div>
                        <div id="fbiframe" class="fb-like" data-href="{{channel.facebook_page}}" data-layout="button_count" data-action="like"></div>
                    </p>
                </div>
            </div>
            <hr class="thick">
            {% for option in vote_options %}
                <div class="row">
                    <div class="col-md-offset-4 col-md-4">
                        <form action="{% url "show_live_vote" channel.name show_id %}" method="post">
                            <input type="hidden" name="option_number" value="{{forloop.counter}}" />
                            <input type="hidden" name="option_value"
                                   value="{% if show_option_values %}{% if option.suggestion %}{{option.suggestion.value}}{% elif option.player %}{{option.player.name}}{% endif %}{% else %}{{forloop.counter}}{% endif %}" />
                            {% csrf_token %}
                            <input type="submit" class="btn btn-primary btn-block word-wrap x-large-font btn-shadow text-shadow animated {% if forloop.counter|divisibleby:2 %}slideInRight{% else %}slideInLeft{% endif %}"
                                   value="{% if show_option_values %}{{forloop.counter}}. {% if option.suggestion %}{{option.suggestion.value}}{% elif option.player %}{{option.player.name}}{% endif %}{% else %}{{forloop.counter}}{% endif %}"/>
                        </form>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div id="container-fluid" class="container-fluid xx-large-font">This Show has ended.</div>
    {% endif %}
{% endblock %}

{% block extra_scripts %}
    <script>
        $("#success-alert").fadeTo(4000, 500).slideUp(500, function(){
            $("#success-alert").alert('close');
        });
    </script>
{% endblock %}