{% extends "channels/channel_base.html" %}

{% block show-display-selected %} active{% endblock %}

{% block title %}{{channel.display_name}}'s Show Controller{% endblock %}

{% block add_head %}
    <link rel="stylesheet" type="text/css" href="{{CSS_URL}}flipclock-0.7.4-beta/flipclock.css">
    <link rel="stylesheet" type="text/css" href="{{CSS_URL}}animate-3.1.0/animate.min.css">
{% endblock %}

{% block navigation %}
    <nav id="top-nav-bar" class="navbar navbar-default navbar-custom" role="navigation" {% if channel.navbar_color %}style="background-color:{{channel.navbar_color}} !important;"{% endif %}>
        <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <br />
                <a href="{% url "dumpedit_home" %}">
                    <img class="pull-left dumpedit-home-icon highlight-shadow" src="{{IMAGE_URL}}dumpedit-logo-icon-square.png" alt="Dumpedit Home" />
                </a>
                <a class="navbar-brand" href="{% url "channel_home" channel.name %}">&nbsp;&nbsp;{{channel.display_name}}</a>
            </div>
            <div class="row navbar-text xx-large-font">
                <div class="col-md-12 col-md-offset-5">
                    <span class="light-gray-text">Go to: </span><a class="white-link" href="http://dumpedit.com{% url "channel_home" channel.name %}">http://dumpedit.com{% url "channel_home" channel.name %}</a>
                </div>
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}
    {% if show_id == current_show.id %}
        <div id="container-fluid" class="container-fluid"></div>
        {% include "embedded_utils/react_components.html" %}

        <input type="hidden" id="rootType" name="rootType" value="show_display" readonly>
        <input type="hidden" id="teamPhotoUrl" name="teamPhotoUrl" value="{{channel.team_photo_url}}" readonly>
        <input type="hidden" id="audioPath" name="audioPath"
               value="{{AUDIO_URL}}" readonly>
        {% if current_show %}
            <input type="hidden" id="showID" name="showID" value="{{current_show.id}}" readonly>
            <input type="hidden" id="voteTypeAPIUrl" name="voteTypeAPIUrl"
                       value="{% url "vote-type-list" %}" readonly>
            <input type="hidden" id="playerAPIUrl" name="playerAPIUrl"
                       value="{% url "player-list" %}" readonly>
            <input type="hidden" id="suggestionAPIUrl" name="suggestionAPIUrl"
                       value="{% url "suggestion-list" %}" readonly>
            <input type="hidden" id="showAPIUrl" name="showAPIUrl"
                       value="{% url "show-detail" current_show.id %}" readonly>
            <input type="hidden" id="liveVoteAPIUrl" name="liveVoteAPIUrl"
                       value="{% url "live-vote-list" %}" readonly>
            <input type="hidden" id="showLeaderboardAPIUrl" name="showLeaderboardAPIUrl"
                       value="{% url "leaderboard-entry-list" %}?channel_id={{channel.id}}&show_id={{current_show.id}}&limit=5" readonly>
            <input type="hidden" id="voteOptionAPIUrl" name="voteOptionAPIUrl"
                       value="{% url "vote-option-list" %}" readonly>
            <input type="hidden" id="channelShowLeaderboardUrl" name="channelShowLeaderboardUrl"
                       value="{% url "channel_show_leaderboards" channel.name current_show.id %}" readonly>
        {% endif %}
    {% else %}
        <div id="container-fluid" class="container-fluid xx-large-font">This Show has ended.</div>
    {% endif %}
{% endblock %}

{% block add_react %}
    {% include "embedded_utils/react_src.html" %}
    <script src="{{JS_URL}}flipclock-0.7.4-beta/flipclock.min.js"></script>
    <script src="{{JS_URL}}chroma.min.js"></script>
    <script src="{{JS_URL}}ion.sound-3.0.7/ion.sound.min.js"></script>
{% endblock %}