<html>
  <head>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta property="og:image" content="{{image_path}}adventure-prov_profile_pic.jpg" />
    <meta property="og:title" content="Adventure-prov" />
    <meta property="og:description" content="An improvised show that lets you decide the action with mobile voting!" />
    <meta name="Description" CONTENT="An improvised show with live mobile voting!">
    <link rel="image_src" href="{{IMAGE_URL}}adventure-prov_profile_pic.jpg" />
	<link rel="apple-touch-icon" href="apple-touch-icon.png">
	<link href="{{CSS_URL}}bootstrap.min.css" rel="stylesheet" media="screen">
  	<link rel="stylesheet" type="text/css" href="{{CSS_URL}}base.css">
  	
  	{% block add_head %}{% endblock %}
  	<title>{% block title %}Improvote: {{channel.display_name}} {% if debug %}dev{% endif %}{% endblock %}</title>
  </head>

  <body>
  {% include "embedded_utils/facebook_sdk.html" %}
  	{% block nav_bar %}
		<nav id="top-nav-bar" class="navbar navbar-default navbar-custom" role="navigation">
			<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a href="{% url "improvote_home" %}">
						<img class="pull-left improvote-home-icon" src="{{IMAGE_URL}}improvote-logo-icon-square.png" alt="Improvote Home" />
					</a>
					<a class="navbar-brand" href="{% url "channel_home" channel.name %}">&nbsp;{{channel.display_name}}</a>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				  <ul class="nav navbar-nav white-nav">
					{% if show_today %}
                        {% if is_admin %}
                            <li><a href="/show_control/{{current_show.key.id}}/"><strong>Show Controller</strong></a></li>
                            <li><a href="/show/{{current_show.key.id}}/"><strong>Show Display</strong></a></li>
                        {% else %}
                            <li><a href="/live_vote/"><strong>Live Vote!</strong></a></li>
                        {% endif %}
                        <li class="dropdown{% block suggestions-selected %}{% endblock %}">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                Suggestions <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                {% for pool in current_suggestion_pools %}
                                    <li><a href="/suggestions/{{pool.name}}/"><strong>{{pool.display_name}}</strong> Add/Vote</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endif %}
                    <li class="{% block recaps-selected %}{% endblock %}"><a href="{% url "channel_recaps" channel.name %}">Show Recaps</a></li>
					<li class="dropdown {% block leaderboards-selected %}{% endblock %} {% if not channel.is_premium %} disabled{% endif %}">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Leaderboards <img src="{{IMAGE_URL}}star-sprite.png" /> <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="{% if not channel.is_premium %}disabled{% endif %}"><a href="{% url "channel_leaderboards" channel.name %}"><strong>All-time Leaderboard</strong></a></li>
                            <li class="{% if not channel.is_premium %}disabled{% endif %}"><a href="/medals/"><strong>Medals</strong></a></li>
                        </ul>
                    </li>
    				{% if request.user.is_authenticated %}
    				    <li class="{% if not channel.is_premium %}disabled{% endif %}"><a href="{% url "user_account" request.user.id %}?channel_name={{channel.name}}">My Account <img src="{{IMAGE_URL}}star-sprite.png" /></a></li>
    				{% endif %}
					{% if is_channel_admin %}
						<li class="dropdown{% block admin-selected %}{% endblock %}">
    						<a class="dropdown-toggle" data-toggle="dropdown" href="#">
      							Admin <span class="caret"></span>
    						</a>
    						<ul class="dropdown-menu">
                                <li {% block pre-show-selected %}{% endblock %}><a href="/pre_show/">Pre-show Instructions</a></li>
    							<li {% block channel-shows-selected %}{% endblock %}><a href="{% url "channel_shows" channel.name %}">Create/Edit/Delete Shows</a></li>
    							<li {% block vote-type-selected %}{% endblock %}><a href="{% url "channel_vote_types" channel.name %}">Create/Edit Vote Types</a></li>
    							<li {% block suggestion-pool-selected %}{% endblock %}><a href="{% url "channel_suggestion_pools" channel.name %}">Create/Edit Suggestion Pools</a></li>
								<li {% block add-player-selected %}{% endblock %}><a href="{% url "channel_players" channel.name %}">Create/Edit Players</a></li>
								<li><a href="{% url "channel_edit" channel.id %}">Edit Channel</a></li>
								{% if not channel.is_premium %}<li><a href="{% url "channel_edit" channel.id %}"><img src="{{IMAGE_URL}}star-sprite.png" /> Go Premium <img src="{{IMAGE_URL}}star-sprite.png" /></a></li>{% endif %}
								<li class="{% block export-emails-selected %}{% endblock %}{% if not channel.is_premium %} disabled{% endif %}"><a href="/export_emails/">Export E-mails <img src="{{IMAGE_URL}}star-sprite.png" /></a></li>
    						</ul>
  						</li>
					{% endif %}
				  </ul>
				  <ul class="nav navbar-nav navbar-right">
				    {% if not request.user.is_authenticated %}
				        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                Login <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url "social:begin" "facebook" %}?next={{request.path}}"><div class="facebook-icon-small pull-left"></div>&nbsp;<strong>Login with Facebook&nbsp;</strong></a></li>
                                <li><a href="{% url "social:begin" "google" %}?next={{request.path}}"><div class="google-icon-small pull-left"></div>&nbsp;<strong>Login with Google</strong></a></li>
                            </ul>
                        </li>
                    {% else %}
					    <li>
                            <a href="{% url "auth_logout" %}?next={{request.path}}">Logout</a>
                        </li>
					{% endif %}
				  </ul>
				  {% if request.user.is_authenticated %}
				    <p class="navbar-text navbar-right">{{user_profile.username}}</p>
				  {% else %}
					<p class="navbar-text navbar-right">Joe</p>
				  {% endif %}
				</div>
			</div>
		</nav>
	{% endblock %}

    {% block content %}{% endblock %}

  	{% block add_react %}
  		<!-- jQuery -->
  		<script src="{{JS_URL}}jquery-1.11.0.min.js"></script>
    {% endblock %}

  	<!-- Bootstrap Core JavaScript -->
  	<script src="{{JS_URL}}bootstrap.min.js"></script>
  </body>
</html>
