{% extends "channels/channel_base.html" %}

{% block admin-selected %} active{% endblock %}
{% block export-emails-selected %}active{% endblock %}

{% block title %}{{channel.display_name}}'s Export Emails{% endblock %}

{% block add_head %}
    <link rel="stylesheet" type="text/css" href="{{CSS_URL}}jquery-ui-1.11.4/jquery-ui.min.css">
    <style>
        .ui-autocomplete-loading {
            background: white url("{{IMAGE_URL}}ui-anim_basic_16x16.gif") right center no-repeat;
        }
    </style>
{% endblock %}

{% block content %}
    <div id="container-fluid" class="container-fluid">
        <div class="row">
            <div class="col-lg-offset-3 col-lg-6">
                <div class="panel panel-warning text-left">
                    <div class="panel-heading text-shadow x-large-font">
                        Export E-mails
                    </div>
                    <div class="panel-body white-background">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="alert alert-danger large-font" role="alert">
                                    <strong>Warning:</strong> When e-mailing users, you must comply with the requirements of the
                                    <a href="https://www.ftc.gov/tips-advice/business-center/guidance/can-spam-act-compliance-guide-business">CAN-SPAM Act</a>.
                                    Failure to do so could result in a fine or lawsuit.
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <form role="form" action="{% url "channel_export_emails" channel.name %}" method="post" encType="multipart/form-data">
                                    <input type="hidden" name="csrfmiddlewaretoken" value={{csrf_token}} />
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="form-group black-font">
                                                <div class="col-lg-offset-1 col-lg-7">
                                                    <select id="show" name="show" class="form-control large-font">
                                                        <option value="" selected>Select a Show</option>
                                                        <option value="all">All E-mails</option>
                                                        {% for show in shows %}
                                                            <option value="{{show.id}}">{{show.created|date:"l N dS, Y @ P"}}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                                <div class="col-lg-2">
                                                    <button type="submit" class="btn btn-danger btn-shadow text-shadow x-large-font">&nbsp;Export&nbsp;</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <br />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="alert alert-info" role="alert">
                                    <strong>Pro-tip #1:</strong> Using mailing services help you stay compliant and help manage your e-mail contacts (including unsubscribers).
                                    There are several free to use services out there including <a href="https://www.mailchimp.com/">MailChimp</a> (used by us),
                                    <a href="https://www.sendinblue.com/">Sendinblue</a>, <a href="http://freshmail.com/">Freshmail</a>,
                                    <a href="http://campayn.com/">Campayn</a>, and <a href="https://www.mailerlite.com/">MailerLite</a>.
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="alert alert-info" role="alert">
                                    <strong>Pro-tip #2:</strong> E-mails can be used to target ads towards audience members. Example: Facebook allows you to
                                    upload e-mails to create <a href="https://www.facebook.com/business/help/341425252616329">Custom Audiences</a> for your Facebook Ads.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}