{% extends "channels/channel_base.html" %}

{% block home-selected %}class="active"{% endblock %}

{% block title %}{{channel.display_name}} Home{% endblock %}

{% block add_head %}
    <link rel="stylesheet" type="text/css" href="{{CSS_URL}}animate-3.1.0/animate.min.css">
{% endblock %}

{% block content %}
  <div class="container-fluid">
  	<div class="row">
  		<div class="col-md-5 col-md-offset-3 home-button-list">
  			{% if channel.is_premium %}
				<div class="row">
				    <div class="col-md-12">
                        {% if channel.is_premium %}
                            {% if not request.user.is_authenticated %}
                                <a href="{% url "social:begin" "facebook" %}?next={{request.path}}">
                                    <div class="btn btn-danger btn-block btn-lg btn-shadow text-wrap text-shadow x-large-font animated fadeInDown" style="background-color:#2952a3">
                                        <div class="highlight-arrow-1 pull-left animated fadeInLeft arrow1-mod"></div>
                                        <div class="facebook-icon-large pull-left"></div>
                                        Login with Facebook
                                    </div>
                                </a>
                                <br/>
                            {% endif %}

                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="pull-left large-font text-shadow animated fadeInRight">Like us on Facebook&nbsp;</div>
                                    <div id="fbiframe" class="fb-like" data-href="{{channel.facebook_page}}" data-layout="button_count" data-action="like"></div>
                                    <br/>
                                </div>
                            </div>
                            <br/>
                            <br/>
                            {% if not request.user.is_authenticated %}
                                <a href="{% url "social:begin" "google-oauth2" %}?next={{request.path}}">
                                    <div class="btn btn-danger btn-block btn-lg btn-shadow text-wrap text-shadow x-large-font animated fadeInDown" style="background-color:#4775d1">
                                        <div class="highlight-arrow-1 pull-left animated fadeInLeft arrow1-mod"></div>
                                        <div class="google-icon-large pull-left"></div>
                                        Login with Google
                                    </div>
                                </a>
                                <hr class="thick" />
                            {% endif %}
                        {% endif %}
				    </div>
			    </div>
			{% endif %}
  			<div class="row">
				<div class="col-md-12">
					{% if current_show %}
						{% if is_channel_admin %}
                            <a class="text-center" href="{% url "show_controller" channel.name current_show.id %}">
								<div class="btn btn-danger btn-block btn-lg btn-shadow text-shadow x-large-font">Show Controller</div>
							</a>
                            <br/>
							<a class="text-center" href="{% url "show_display" channel.name current_show.id %}">
								<div class="btn btn-danger btn-block btn-lg btn-shadow text-shadow x-large-font">Show Display</div>
							</a>
                            <br/>
						{% endif %}
                        {% for pool in suggestion_pools %}
                            {% if pool.admin_only %}
                                {% if is_channel_admin %}
                                    <div class="row">
                                        <div class="col-md-12">
                                            <a class="text-center white-link" href="{% url "show_suggestion_pool" channel.name current_show.id pool.id %}">
                                                <div class="btn btn-primary btn-block btn-lg btn-shadow text-wrap text-shadow x-large-font animated fadeInDown">
                                                    Add / Vote for {{pool.display_name}}
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                {% endif %}
                            {% else %}
                                <div class="row">
                                    <div class="col-md-12">
                                        <a class="text-center white-link" href="{% url "show_suggestion_pool" channel.name current_show.id pool.id %}">
                                            <div class="btn btn-primary btn-block btn-lg btn-shadow text-wrap text-shadow x-large-font animated fadeInDown">
                                                <div class="{% if channel.is_premium %}highlight-arrow-2{% else %}highlight-arrow-1{% endif %} pull-left animated fadeInLeft arrow2-mod"></div>
                                                Add / Vote for {{pool.display_name}}
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                        <a class="text-center" href="{% url "show_live_vote" channel.name current_show.id %}">
                            <div class="btn btn-danger btn-block btn-lg btn-shadow text-wrap text-shadow x-large-font animated fadeInDown">
                                <div class="{% if channel.is_premium %}highlight-arrow-3{% else %}highlight-arrow-2{% endif %} pull-left animated fadeInLeft arrow3-mod"></div>
                                Live Show Voting!
                            </div>
                        </a>
                        <br/>
                        <a class="text-center" href="{% url "channel_pre_show" channel.name %}">
                            <div class="btn btn-primary btn-block btn-lg btn-shadow text-shadow x-large-font animated fadeInDown">User Instructions</div>
                        </a>
                        <br/>
					{% endif %}
                    {% if not current_show and channel.future_next_show %}
                        <div class="alert alert-info x-large-font text-center text-wrap text-shadow animated fadeInDown" role="alert">Our next show is {{channel.next_show|date:"l N dS @ P"}}</div>
                    {% endif %}
                    {% if channel.is_premium %}
                        {% if channel.buy_tickets_link %}
                            <a class="text-center" href="{{channel.buy_tickets_link}}">
                                <div class="btn btn-info btn-block btn-lg btn-shadow text-wrap text-shadow x-large-font animated fadeInDown"><img src="{{IMAGE_URL}}star-sprite.png" /> Buy Tickets to {{channel.display_name}} <img src="{{IMAGE_URL}}star-sprite.png" /></div>
                            </a>
                        {% else %}
                            <div class="btn btn-info btn-block btn-lg btn-shadow text-wrap text-shadow x-large-font disabled"><img src="{{IMAGE_URL}}star-sprite.png" /> Buy Tickets to {{channel.display_name}} <img src="{{IMAGE_URL}}star-sprite.png" /></div>
                        {% endif %}
                        <br/>
                        <a class="text-center" href="{% url "channel_leaderboards" channel.name %}">
                            <div class="btn btn-success btn-block btn-lg btn-shadow text-shadow x-large-font animated fadeInDown"><img src="{{IMAGE_URL}}star-sprite.png" /> Leaderboards <img src="{{IMAGE_URL}}star-sprite.png" /></div>
                        </a>
                    {% else %}
                        <div class="btn btn-info btn-block btn-lg btn-shadow text-wrap text-shadow x-large-font disabled"><img src="{{IMAGE_URL}}star-sprite.png" /> Buy Tickets to {{channel.display_name}} <img src="{{IMAGE_URL}}star-sprite.png" /></div>
                        <br/>
                        <div class="btn btn-success btn-block btn-lg btn-shadow text-shadow x-large-font disabled"><img src="{{IMAGE_URL}}star-sprite.png" /> Leaderboards <img src="{{IMAGE_URL}}star-sprite.png" /></div>
                    {% endif %}
                    <br />
                    <a class="text-center" href="{% url "channel_recaps" channel.name %}">
                        <div class="btn btn-warning btn-block btn-lg btn-shadow text-shadow x-large-font animated fadeInDown">Show Recaps</div>
                    </a>
                    <br/>
				</div>
			</div>
		</div>
	</div>
  </div>
{% endblock %}
