{% extends "channels/channel_base.html" %}

{% block add_head %}
    <link href="{{CSS_URL}}multi-select-0.9.12/multi-select.css" media="screen" rel="stylesheet" type="text/css">
{% endblock %}

{% block admin-selected %} active{% endblock %}
{% block channel-shows-selected %}class="active"{% endblock %}

{% block title %}{{channel.display_name}}'s Create/Edit/Delete Shows{% endblock %}

{% block content %}
    <div id="container-fluid" class="container-fluid"></div>
    <script type="text/babel" src="{{JS_URL}}react_components.js"></script>

    <input type="hidden" id="rootType" name="rootType" value="channel_shows" readonly>
    <input type="hidden" id="channelID" name="channelID" value="{{channel.id}}" readonly>
    <input type="hidden" id="channelName" name="channelName" value="{{channel.name}}" readonly>
    <input type="hidden" id="isPremium" name="isPremium" value="{{channel.is_premium}}" readonly>
    <input type="hidden" id="showAPIUrl" name="showAPIUrl"
           value="{% url "show-list" %}" readonly>
    <input type="hidden" id="showListAPIUrl" name="showListAPIUrl"
           value="{% url "show-list" %}?order_by_date=True" readonly>
    <input type="hidden" id="voteTypeListAPIUrl" name="voteTypeListAPIUrl"
           value="{% url "vote-type-list" %}?channel_id={{channel.id}}&active_only=True" readonly>
    <input type="hidden" id="playerListAPIUrl" name="playerListAPIUrl"
           value="{% url "player-list" %}?channel_id={{channel.id}}&active_only=True" readonly>
    <input type="hidden" id="formSubmitUrl" name="formSubmitUrl"
               value="{% url "channel_shows" channel.name %}" readonly>
    <input type="hidden" id="csrfToken" name="csrfToken" value="{{csrf_token}}" readonly>
	{% if action %}
		<input type="hidden" id="action" name="action" value="{{action}}" readonly>
	{% endif %}
    {% if error %}
		<input type="hidden" id="error" name="error" value="{{error}}" readonly>
	{% endif %}

{% endblock %}

{% block add_react %}
    {% include "embedded_utils/react_src.html" %}
    <script src="{{JS_URL}}multi-select-0.9.12/jquery.multi-select.js" type="text/javascript"></script>
{% endblock %}