{% extends "channels/channel_base.html" %}

{% block admin-selected %} active{% endblock %}
{% block add-player-selected %}class="active"{% endblock %}

{% block title %}{{channel.display_name}}'s Add/Edit Players{% endblock %}

{% block content %}
    <div id="container-fluid" class="container-fluid"></div>
    {% include "embedded_utils/react_components.html" %}

    <input type="hidden" id="rootType" name="rootType" value="channel_players" readonly>
	<input type="hidden" id="playerAPIUrl" name="playerAPIUrl"
           value="{% url "player-list" %}" readonly>
    <input type="hidden" id="playerListAPIUrl" name="playerListAPIUrl"
           value="{% url "player-list" %}?channel_id={{channel.id}}&sort_by_active=True" readonly>
    <input type="hidden" id="formSubmitUrl" name="formSubmitUrl"
               value="{% url "channel_players" channel.name %}" readonly>
    <input type="hidden" id="csrfToken" name="csrfToken" value="{{csrf_token}}" readonly>
	{% if action %}
		<input type="hidden" id="action" name="action" value="{{action}}" readonly>
	{% endif %}
    {% if error %}
		<input type="hidden" id="error" name="error" value="{{error}}" readonly>
	{% endif %}

{% endblock %}

{% block add_react %}
    {% include "embedded_utils/react_src.html" %}
{% endblock %}