<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:image" content="{{channel.team_photo_url}}" />
    <meta property="og:title" content="{{channel.display_name}}" />
    <meta property="og:description" content="{{channel.short_description}}" />
    <meta name="Description" CONTENT="{{channel.short_description}}">
    <link rel="image_src" href="{{channel.team_photo_url}}" />
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link href="{{CSS_URL}}bootstrap.min.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" type="text/css" href="{{CSS_URL}}base.css">

	<!-- Favicons -->
    <link rel="apple-touch-icon" sizes="57x57" href="{{IMAGE_URL}}apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="{{IMAGE_URL}}apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="{{IMAGE_URL}}apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="{{IMAGE_URL}}apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="{{IMAGE_URL}}apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="{{IMAGE_URL}}apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="{{IMAGE_URL}}apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="{{IMAGE_URL}}apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="{{IMAGE_URL}}apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="{{IMAGE_URL}}android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{IMAGE_URL}}favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="{{IMAGE_URL}}favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{IMAGE_URL}}favicon-16x16.png">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{{IMAGE_URL}}ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

  	{% block add_head %}{% endblock %}
  	<title>Dumpedit: {% block title %}{% endblock %}{% if debug %} dev{% endif %}</title>
  </head>

  <body {% if channel.background_color %}style="background-color:{{channel.background_color}} !important;"{% endif %}>
  <!-- Google Tag Manager -->
	<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-P2X3J3"
	height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-P2X3J3');</script>
  <!-- End Google Tag Manager -->
  {% include "embedded_utils/facebook_sdk.html" %}
  	{% block navigation %}
		<nav id="top-nav-bar" class="navbar navbar-default navbar-custom" role="navigation" {% if channel.navbar_color %}style="background-color:{{channel.navbar_color}} !important;"{% endif %}>
			<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a href="{% url "dumpedit_home" %}">
						<img class="pull-left dumpedit-home-icon highlight-shadow" src="{{IMAGE_URL}}dumpedit-logo-icon-square.png" alt="Dumpedit Home" />
					</a>
					<a class="navbar-brand" href="{% url "channel_home" channel.name %}">&nbsp;&nbsp;{{channel.display_name}}</a>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				  <ul class="nav navbar-nav white-nav">
					{% if current_show %}
                        {% if is_channel_admin %}
                            <li {% block show-controller-selected %}{% endblock %}><a href="{% url "show_controller" channel.name current_show.id %}"><strong>Show Controller</strong></a></li>
                            <li {% block show-display-selected %}{% endblock %}><a href="{% url "show_display" channel.name current_show.id %}"><strong>Show Display</strong></a></li>
                        {% endif %}
					  	<li {% block pre-show-selected %}{% endblock %}><a href="{% url "channel_pre_show" channel.name %}"><strong>User Instructions</strong></a></li>
					  	<li {% block show-live-vote %}{% endblock %}><a href="{% url "show_live_vote" channel.name current_show.id %}"><strong>Live Vote!</strong></a></li>
                        {% if suggestion_pools %}
							<li class="dropdown{% block show-suggestions-selected %}{% endblock %}">
								<a class="dropdown-toggle" data-toggle="dropdown" href="#">
									<strong>Suggestions <span class="caret"></span></strong>
								</a>
								<ul class="dropdown-menu">
									{% for pool in suggestion_pools %}
										{% if pool.admin_only %}
											{% if is_channel_admin %}
												<li><a href="{% url "show_suggestion_pool" channel.name current_show.id pool.id %}">{{pool.display_name}} Add/Vote</a></li>
											{% endif %}
										{% else %}
											<li><a href="{% url "show_suggestion_pool" channel.name current_show.id pool.id %}">{{pool.display_name}} Add/Vote</a></li>
										{% endif %}
									{% endfor %}
								</ul>
							</li>
					    {% endif %}
                    {% endif %}
                    <li class="{% block recaps-selected %}{% endblock %}"><a href="{% url "channel_recaps" channel.name %}">Show Recaps</a></li>
					<li class="dropdown {% block leaderboards-selected %}{% endblock %}">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Leaderboards <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url "channel_leaderboards" channel.name %}"><strong>All-time Leaderboard</strong></a></li>
                            <li><a href="{% url "channel_medals" channel.name %}"><strong>Medals</strong></a></li>
                        </ul>
                    </li>
    				{% if request.user.is_authenticated %}
    				    <li><a href="{% url "user_account" request.user.id %}?channel_name={{channel.name}}">My Account</a></li>
    				{% endif %}
					{% if is_channel_admin %}
						<li class="dropdown{% block admin-selected %}{% endblock %}">
    						<a class="dropdown-toggle" data-toggle="dropdown" href="#">
      							Admin <span class="caret"></span>
    						</a>
    						<ul class="dropdown-menu">
								<li {% block channel-admin-tutorial %}{% endblock %}><a href="{% url "channel_admin_tutorial" channel.name %}">Admin Quick Tutorial</a></li>
    							<li {% block channel-shows-selected %}{% endblock %}><a href="{% url "channel_shows" channel.name %}">Create/Edit Shows</a></li>
    							<li {% block vote-type-selected %}{% endblock %}><a href="{% url "channel_vote_types" channel.name %}">Create/Edit Vote Types</a></li>
    							<li {% block suggestion-pool-selected %}{% endblock %}><a href="{% url "channel_suggestion_pools" channel.name %}">Create/Edit Suggestion Pools</a></li>
								<li {% block add-player-selected %}{% endblock %}><a href="{% url "channel_players" channel.name %}">Create/Edit Players</a></li>
								<li><a href="{% url "channel_edit" channel.id %}">Edit Channel</a></li>
								{% if is_channel_owner %}
									<li {% block channel-admins-selected %}{% endblock %}><a href="{% url "channel_admins" channel.name %}">Add/Edit Channel Admins</a></li>
								{% endif %}
								<li class="{% block leaderboard-spans-selected %}{% endblock %}"><a href="{% url "channel_leaderboard_spans" channel.name %}">Add/Edit Custom Leaderboard Spans <img src="{{IMAGE_URL}}star-sprite.png" /></a></li>
								<li class="{% block export-emails-selected %}{% endblock %}"><a href="{% url "channel_export_emails" channel.name %}">Export E-mails <img src="{{IMAGE_URL}}star-sprite.png" /></a></li>
								{% if not channel.is_premium %}
									<li><a href="{% url 'djstripe:account' %}?channel_id={{channel.id}}"><img src="{{IMAGE_URL}}star-sprite.png" /> Go Premium <img src="{{IMAGE_URL}}star-sprite.png" /></a></li>
								{% else %}
									<li><a href="{% url 'djstripe:account' %}?channel_id={{channel.id}}">Modify/Cancel Premium</a></li>
								{% endif %}
    						</ul>
  						</li>
					{% endif %}
				  </ul>
				  <ul class="nav navbar-nav navbar-right">
					{% if admin_channels %}
				        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                My Channels <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu remove-text-shadow">
								{% for admin_channel in admin_channels %}
									<li {% if channel.id == admin_channel.id %}class="active"{% endif %}>
										<a href="{% url "channel_home" admin_channel.name %}"><strong>{{admin_channel.display_name}}</strong>{% if admin_channel.is_premium %}<img src="{{IMAGE_URL}}star-sprite.png" />{% endif %}</a>
									</li>
								{% endfor %}
							</ul>
                        </li>
					{% else %}
					    {% if user_channels %}
					        <li class="dropdown">
								<a class="dropdown-toggle" data-toggle="dropdown" href="#">
									My Channels <span class="caret"></span>
								</a>
								<ul class="dropdown-menu remove-text-shadow">
									{% for user_channel in user_channels %}
										<li {% if channel.id == user_channel.id %}class="active"{% endif %}>
											<a href="{% url "channel_home" user_channel.name %}"><strong>{{user_channel.display_name}}</strong></a>
										</li>
									{% endfor %}
								</ul>
							</li>
					  	{% endif %}
				    {% endif %}
				    {% if not request.user.is_authenticated %}
				        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                Login <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu remove-text-shadow">
                                <li><a href="{% url "social:begin" "facebook" %}?next={{request.path}}"><div class="facebook-icon-small pull-left"></div>&nbsp;<strong>Login with Facebook&nbsp;</strong></a></li>
                                <li><a href="{% url "social:begin" "google-oauth2" %}?next={{request.path}}"><div class="google-icon-small pull-left"></div>&nbsp;<strong>Login with Google</strong></a></li>
                            </ul>
                        </li>
                    {% else %}
					    <li>
                            <a href="{% url "auth_logout" %}?next={{request.path}}">Logout</a>
                        </li>
					{% endif %}
				  </ul>
				  {% if request.user.is_authenticated %}
				    <p class="navbar-text navbar-right">
						<a href="{% url "user_account" user_profile.user_id %}?channel_name={{channel.name}}"><span class="light-gray-text">{{user_profile.username}}</span></a>
					</p>
				  {% else %}
					<p class="navbar-text navbar-right"></p>
				  {% endif %}
				</div>
			</div>
		</nav>
	{% endblock %}

    {% block content %}{% endblock %}

  	{% block add_react %}
  		<!-- jQuery -->
  		<script src="{{JS_URL}}jquery-2.1.1/jquery.min.js"></script>
    {% endblock %}

  	<!-- Bootstrap Core JavaScript -->
  	<script src="{{JS_URL}}bootstrap.min.js"></script>

  	{% block extra_scripts %}{% endblock %}
  </body>
</html>
