{% extends "channels/channel_base.html" %}

{% block admin-selected %} active{% endblock %}
{% block leaderboard-spans-selected %}active{% endblock %}

{% block title %}{{channel.display_name}}'s Add/Edit Custom Leaderboard Spans{% endblock %}

{% block add_head %}
    <link rel="stylesheet" type="text/css" href="{{CSS_URL}}bootstrap-datetimepicker-4.14.30/bootstrap-datetimepicker.min.css">
{% endblock %}

{% block content %}
    <div id="container-fluid" class="container-fluid"></div>
    {% include "embedded_utils/react_components.html" %}

    <input type="hidden" id="rootType" name="rootType" value="channel_leaderboard_spans" readonly>
    <input type="hidden" id="channelID" name="channelID" value="{{channel.id}}" readonly>
    <input type="hidden" id="leaderboardSpanAPIUrl" name="leaderboardSpanAPIUrl"
               value="{% url "leaderboard-span-list" %}" readonly>
    <input type="hidden" id="formSubmitUrl" name="formSubmitUrl"
               value="{% url "channel_leaderboard_spans" channel.name %}" readonly>
    <input type="hidden" id="csrfToken" name="csrfToken" value="{{csrf_token}}" readonly>
	{% if action %}
		<input type="hidden" id="action" name="action" value="{{action}}" readonly>
	{% endif %}
    {% if error %}
		<input type="hidden" id="error" name="error" value="{{error}}" readonly>
	{% endif %}

{% endblock %}

{% block add_react %}
    {% include "embedded_utils/react_src.html" %}
    <script src="{{JS_URL}}bootstrap-datetimepicker-4.14.30/bootstrap-datetimepicker.min.js"></script>
{% endblock %}