{% extends "channels/channel_base.html" %}

{% block admin-selected %} active{% endblock %}
{% block vote-type-selected %}class="active"{% endblock %}

{% block title %}{{channel.display_name}}'s Create/Edit Vote Types{% endblock %}

{% block content %}
    <div id="container-fluid" class="container-fluid"></div>
    <script type="text/babel" src="{{JS_URL}}react_components.js"></script>

    <input type="hidden" id="rootType" name="rootType" value="channel_vote_types" readonly>
    <input type="hidden" id="isPremium" name="isPremium" value="{{channel.is_premium}}" readonly>
	<input type="hidden" id="voteTypeAPIUrl" name="voteTypeAPIUrl"
           value="{% url "vote-type-list" %}" readonly>
    <input type="hidden" id="voteTypeListAPIUrl" name="voteTypeListAPIUrl"
           value="{% url "vote-type-list" %}?channel_id={{channel.id}}&sort_by_active=True" readonly>
    <input type="hidden" id="suggestionPoolListAPIUrl" name="suggestionPoolListAPIUrl"
           value="{% url "suggestion-pool-list" %}?channel_id={{channel.id}}&active_only=True" readonly>
    <input type="hidden" id="voteStyleAPIUrl" name="voteStyleAPIUrl"
           value="{% url "vote-style-list" %}" readonly>
    <input type="hidden" id="formSubmitUrl" name="formSubmitUrl"
               value="{% url "channel_vote_types" channel.name %}" readonly>
    <input type="hidden" id="csrfToken" name="csrfToken" value="{{csrf_token}}" readonly>
	{% if action %}
		<input type="hidden" id="action" name="action" value="{{action}}" readonly>
	{% endif %}
    {% if error %}
		<input type="hidden" id="error" name="error" value="{{error}}" readonly>
	{% endif %}

{% endblock %}

{% block add_react %}
    {% include "embedded_utils/react_src.html" %}
{% endblock %}