{% extends "channels/channel_base.html" %}

{% block pre-show-selected %}class="active"{% endblock %}

{% block title %}{{channel.display_name}} Pre-Show Instructions{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-5 col-md-offset-2">
                <div class="panel panel-default highlight-shadow">
                    <div class="panel-heading text-shadow">

                    </div>
                    <div class="panel-body text-shadow">

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}