{% extends "base.html" %}

{% block user-account-selected %}class="active"{% endblock %}

{% block title %}{{page_user_profile.safe_username}}'s User Account{% endblock %}

{% block content %}
    <section><div id="container-fluid" class="container-fluid"></div></section>
    <script type="text/babel" src="{{JS_URL}}react_components.js"></script>

    <input type="hidden" id="rootType" name="rootType" value="user-account" readonly>
    <input type="hidden" id="showListAPIUrl" name="showListAPIUrl"
           value="{% url "show-list" %}" readonly>
    <input type="hidden" id="suggestionListAPIUrl" name="suggestionListAPIUrl"
           value="{% url "suggestion-list" %}" readonly>
    <input type="hidden" id="imageBaseUrl" name="imageBaseUrl" value="{{IMAGE_URL}}" readonly>
    <input type="hidden" id="medalListAPIUrl" name="medalListAPIUrl"
           value="{% url "medal-list" %}" readonly>
    {% if channel %}
        <input type="hidden" id="medalsUrl" name="medalsUrl"
                   value="{% url "channel_medals" channel.name %}" readonly>
    {% endif %}
    {% if page_user_profile %}
        <input type="hidden" id="userProfileID" name="userProfileID" value="{{page_user_profile.user_id}}" readonly>
        <input type="hidden" id="leaderboardStatsAPIUrl" name="leaderboardStatsAPIUrl"
               value="{% url "leaderboard-entry-list" %}?user_id={{page_user_profile.user_id}}&order_by_show_date=True" readonly>
        <input type="hidden" id="userStatsAPIUrl" name="userStatsAPIUrl"
               value="{% url "user-detail" page_user_profile.user_id %}" readonly>
    {% endif %}
    {% if request.user.is_authenticated %}
        <input type="hidden" id="requestUserID" name="requestUserID" value="{{request.user.id}}" readonly>
    {% endif %}

{% endblock %}

{% block add_react %}
    {% include "embedded_utils/react_src.html" %}
{% endblock %}