{% extends "channels/channel_base.html" %}

{% block leaderboards-selected %}active{% endblock %}

{% block title %}{{channel.display_name}}'s{% if show %} {{ show.created|date:"D d M Y" }}{% endif %} Leaderboard{% endblock %}

{% block add_head %}
    <link rel="stylesheet" type="text/css" href="{{CSS_URL}}animate-3.1.0/animate.min.css">
{% endblock %}

{% block content %}
    <div id="container-fluid" class="container-fluid"></div>
    {% include "embedded_utils/react_components.html" %}

    <input type="hidden" id="rootType" name="rootType" value="leaderboard" readonly>
    <input type="hidden" id="channelID" name="channelID" value="{{channel.id}}" readonly>
    <input type="hidden" id="channelName" name="channelName" value="{{channel.name}}" readonly>
    <input type="hidden" id="page" name="page" value="{{page}}" readonly>
    <input type="hidden" id="maxPerPage" name="maxPerPage" value="{{max_per_page}}" readonly>
    <input type="hidden" id="maxPages" name="maxPages" value="{{max_pages}}" readonly>
    <input type="hidden" id="channelLeaderboardAPIUrl" name="channelLeaderboardAPIUrl"
           value="{% url "leaderboard-list" %}?channel_id={{channel.id}}&page={{page}}" readonly>
    <input type="hidden" id="showListAPIUrl" name="showListAPIUrl"
               value="{% url "show-list" %}?channel_id={{channel.id}}&order_by_date=True" readonly>
    <input type="hidden" id="leaderboardSpanAPIUrl" name="leaderboardSpanAPIUrl"
               value="{% url "leaderboard-span-list" %}?channel_id={{channel.id}}" readonly>
    <input type="hidden" id="medalsUrl" name="medalsUrl"
               value="{% url "channel_medals" channel.name %}" readonly>
    <input type="hidden" id="medalListAPIUrl" name="medalListAPIUrl"
               value="{% url "medal-list" %}" readonly>
    <input type="hidden" id="channelLeaderboardUrl" name="channelLeaderboardUrl"
               value="{% url "channel_leaderboards" channel.name %}" readonly>
    <input type="hidden" id="usersUrl" name="usersUrl"
               value="/users/" readonly>
    {% if show %}
        <input type="hidden" id="contentType" name="contentType" value="show-leaderboard" readonly>
        <input type="hidden" id="currentSelection" name="currentSelection" value="{{show.created|date:"c"}}" readonly>
        <input type="hidden" id="channelShowRecapUrl" name="channelShowRecapUrl"
               value="{% url "channel_show_recaps" channel.name show.id %}" readonly>
        <input type="hidden" id="leaderboardEntryAPIUrl" name="leaderboardEntryAPIUrl"
               value="{% url "leaderboard-entry-list" %}?channel_id={{channel.id}}&show_id={{show.id}}&page={{page}}" readonly>
        <input type="hidden" id="showID" name="showID" value="{{show.id}}" readonly>
        <input type="hidden" id="medalsAwarded" name="medalsAwarded" value="{{medals_awarded}}" readonly>
    {% else %}
        <input type="hidden" id="contentType" name="contentType" value="channel-leaderboard" readonly>
        <input type="hidden" id="currentSelection" name="currentSelection" value="All-time Leaderboard" readonly>
    {% endif %}
    {% if start and end %}
        <input type="hidden" id="start" name="start" value="{{start}}" readonly>
        <input type="hidden" id="end" name="end" value="{{end}}" readonly>
        <input type="hidden" id="leaderboardEntrySpanAPIUrl" name="leaderboardEntrySpanAPIUrl"
               value="{% url "leaderboard-entry-span-list" %}?channel_id={{channel.id}}&start={{start}}&end={{end}}&page={{page}}" readonly>
    {% endif %}
    {% if is_channel_admin %}
        <input type="hidden" id="isAdmin" name="isAdmin" value="True" readonly>
    {% endif %}

{% endblock %}

{% block add_react %}
    {% include "embedded_utils/react_src.html" %}
{% endblock %}