{% extends "channels/channel_base.html" %}

{% block user-account-selected %}class="active"{% endblock %}

{% block title %}Improvote: {% if channel %}{{channel.display_name}}'s{% if show %} {{ show.created|date:"D d M Y" }}{% endif %}{% endif %} Leaderboard{% endblock %}

{% block content %}
    <div id="container-fluid" class="container-fluid"></div>
        <script type="text/babel">
              {% include "embedded_utils/react_components.html" %}
              ReactDOM.render(
                <Leaderboards contentType="{% if channel %}{% if show %}show-{% else %}channel-{% endif %}{% else %}all-{% endif %}leaderboard"
                              {% if channel %}
                                  channelID="{{channel.id}}"
                                  channelLeaderboardUrl="{% url "leaderboard-list" %}?channel_id={{channel.id}}"
                                  channelRecapsUrl="{% url "channel_recaps" channel.name %}"
                              {% endif %}
                              {% if show %}
                                  showID="{{show.id}}"
                                  showListUrl="{% url "show-list" %}"
                              {% endif %}/>,
                document.getElementById('container-fluid')
              );
        </script>

{% endblock %}

{% block add_react %}
    {% include "embedded_utils/react_src.html" %}
{% endblock %}