{% extends "base.html" %}

{% block title %}Forums: {{forum.display_name}}: {{thread.subject}}{% endblock %}

{% block content %}
    <!-- Header -->
    <header>
        <div class="container">
            <div class="row text-left">
                <div class="col-lg-12">
                    <ol class="breadcrumb">
                      <li><a href="{% url "forums_home" %}">Forums</a></li>
                      <li><a href="{% url "forums_thread_list" forum.name %}">{{forum.display_name}}</a></li>
                      <li class="active">{{thread.subject}}</li>
                    </ol>
                </div>
            </div>
            <div class="row text-left">
                <div class="col-lg-12">
                    <span class="text-shadow xx-large-font">{{thread.subject}}</span>
                </div>
            </div>
            {% if page == 1 %}
                <div class="panel panel-warning text-left">
                    <div class="panel-heading text-shadow large-font">
                        {% if thread.creator.is_superuser %}<img class="pull-left" src="{{IMAGE_URL}}star-sprite.png" />{% endif %}{{thread.creator}} [{{thread.created}}]
                    </div>
                    <div class="panel-body">
                        <span class="markdown-message black-font">{{thread.message|safe}}</span>
                    </div>
                </div>
            {% endif %}
        </div>
    </header>

    <!-- Replies Section -->
    <section id="replies">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-left text-colorless-shadow">
                    <span class="x-large-font">Replies</span>
                </div>
            </div>
            {% if replies %}
                <div class="row">
                    <div class="col-lg-12">
                        <ul class="pagination">
                            {% if replies.has_previous %}
                                    <li><a href="?page={{ replies.previous_page_number }}">Prev</a></li>
                            {% endif %}
                            {% if replies.paginator.num_pages > 1 %}
                                {% for page in replies.paginator.page_range %}
                                    <li class="{% if replies.number == page  %}active{% endif %}"><a href="?page={{page }}">{{ page }}</a></li>
                                {% endfor %}
                            {% endif %}

                            {% if replies.has_next %}
                                <li> <a href="?page={{ replies.next_page_number }}">Next</a></li>
                            {% endif %}
                         </ul>
                    </div>
                </div>
                {% for reply in replies %}
                    <div class="panel panel-info text-left">
                        <div class="panel-heading text-shadow large-font">
                            {% if reply.creator.is_superuser %}<img class="pull-left" src="{{IMAGE_URL}}star-sprite.png" />{% endif %}{{reply.creator}} [{{reply.created}}]
                        </div>
                        <div class="panel-body">
                            <span class="markdown-message black-font">{{reply.message|safe}}</span>
                            {% if request.user.is_superuser %}
                                <form role="form" action="{% url "forums_thread" forum.name thread.id %}" method="post" encType="multipart/form-data">
                                    <input type="hidden" name="csrfmiddlewaretoken" value={{csrf_token}} />
                                    <input type="hidden" name="delete_reply" value={{reply.id}} />
                                    <button type="submit" class="btn btn-danger btn-shadow text-shadow large-font pull-right">Delete</button>
                                </form>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
                <div class="row">
                    <div class="col-lg-12">
                        <ul class="pagination">
                            {% if replies.has_previous %}
                                    <li><a href="?page={{ replies.previous_page_number }}">Prev</a></li>
                            {% endif %}
                            {% if replies.paginator.num_pages > 1 %}
                                {% for page in replies.paginator.page_range %}
                                    <li class="{% if replies.number == page  %}active{% endif %}"><a href="?page={{page }}">{{ page }}</a></li>
                                {% endfor %}
                            {% endif %}

                            {% if replies.has_next %}
                                <li> <a href="?page={{ replies.next_page_number }}">Next</a></li>
                            {% endif %}
                         </ul>
                    </div>
                </div>
            {% else %}
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <br/>
                        <span class="large-font">No replies yet.</span>
                    </div>
                </div>
            {% endif %}
            {% if request.user.is_authenticated %}
                <div class="panel panel-warning text-left">
                    <div class="panel-heading text-shadow x-large-font">
                        Post Reply
                    </div>
                    <div class="panel-body">
                        <form role="form" action="{% url "forums_thread" forum.name thread.id %}" method="post" encType="multipart/form-data">
                            <input type="hidden" name="csrfmiddlewaretoken" value={{csrf_token}} />
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group black-font">
                                        <div class="col-lg-12">
                                            <textarea type="text" style="min-width: 100%" name="message" rows="6" className="form-control"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4">
                                    <br/>
                                    You can use <a target="_blank" href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet">Markdown</a> in your messages.
                                </div>
                                <div class="col-lg-8">
                                    <br/>
                                    <button type="submit" class="btn btn-danger btn-shadow text-shadow large-font pull-right">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            {% endif %}
        </div>
    </section>

{% endblock %}

{% block add_script %}
    <script src="{{JS_URL}}jquery-2.1.1/jquery.min.js"></script>
    <script src="{{JS_URL}}markdown-0.6.0-beta1/markdown.min.js"></script>
    <script>
        $( ".markdown-message" ).each(function( index ) {
            $(this).html(markdown.toHTML($(this).text()));
        });
    </script>
{% endblock %}